.App {
  background-color: paleturquoise;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.secCalendarCover{
  background-color: palegoldenrod;
  width: 100%;
  align-content: center;
}
.secTodoCover {
  width: 100%;
  background-color: orange;
}

.secTodoCover {
  padding: 3% 5%;
  box-sizing: border-box;
}

.secTodoCover>form {
  margin: 0 0 8% 0;
}

.secTodoCover>form>fieldset {
  background: linear-gradient(to top, #B9FFF8, #f1fcfb38);
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid #333;
}
.secTodoCover>form>fieldset>legend{
  font-size: 1.2em;
  letter-spacing: 2px;
}
.secTodoCover>form>fieldset>textarea {
  background-color: transparent;
  width: 90%;
  height: 100%;
  padding: 3% 0 0 0;
  box-sizing: border-box;
  border: none;
  text-align: center;
  text-indent: 10%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  letter-spacing: 1px;
}

.secTodoCover>form>fieldset>textarea:focus {
  outline: none;
}

.secTodoCover>form>fieldset>button {
  background-color: transparent;
  margin: 0;
  padding: 0 0 0 0.5%;
  box-sizing: border-box;
  width: 10%;
  border: none;
  font-size: 1.2em;
  cursor: pointer;
}

@media screen and (min-width:575px) and (max-width:767px) {
  .secTodoCover>form>fieldset {
    height: 10vw;
  }

  .secTodoCover>form>fieldset>textarea {
    line-height: 3vw;
    font-size: 1em;
  }

  .secTodoCover>form>fieldset>button {
    font-size: 1.4em;
  }
}

@media screen and (min-width:768px) and (max-width:1023px) {
  .secTodoCover>form>fieldset {
    height: 8.5vw;
  }
}

@media screen and (min-width:1024px) {
  .secTodoCover>form {
    margin: 0 0 5% 0;
  }
  
  .App-header,
  .secTodoCover {
    margin: 0 20%;
    width: 60%;
  }

  .secTodoCover>form>fieldset {
    height: 6.5vw;
  }
  .secTodoCover>form>fieldset>textarea {
    padding: 3.5% 0 0 0;
    box-sizing: border-box;
    font-size: 1.1em;
  }  
}